<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blagodarie.health.authentication">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <application>
        <activity android:name="blagodarie.health.authentication.AuthenticationActivity" />
        <service android:name="blagodarie.health.authentication.AuthenticatorService" />
    </application>
</manifest>
